HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Application Properties ###
# src/main/resources/application-prod.properties  # Allow for Heroku deployment
src/main/resources/application-dev.properties
src/main/resources/application-test.properties

### Logs ###
*.log
logs/

### Local Environment Files ###
.env
.env.local
.env.*.local

### H2 Database Files ###
*.db
*.trace.db

### Node.js ###
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

### Local config files ###
token.txt
create_super_admin.sql
admin_token.json
requests.json
superadmin_token.json
token.json

### OS specific ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
